body {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: hplight;
    src: url("HP Simplified Light.ttf");
}

@font-face {
    font-family: hp;
    src: url("HP Simplified.ttf");
}

@font-face {
    font-family: hpbold;
    src: url("HP Simplified Bold.ttf");
}

@font-face {
    font-family: hpitalic;
    src: url("HP Simplified Italic.ttf");
}

@font-face {
    font-family: hpregular;
    src: url("HP Simplified Regular.ttf");
}

#header {
    background-color: #f6d7b0;
    font-family: hplight, Arial, Helvetica, sans-serif;
    padding: 10px;
}

#body {
    background-color: rgb(173, 234, 255);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

#sec1 {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#body #sec1 #divider1 {
    width: 50%;
    float: left;
}

#body #sec1 #divider1a {
    width: 50%;
    float: left;
    text-align: center;
}

#body #sec1 #divider1 #sun {
    width: 50%;
}

#body #sec1 #divider2 {
    width: 50%;
    float: left;
    text-align: center;
}

#body #sec1 #divider2 {
    font-family: hplight;
    font-size: 18pt;
    transform: translateY(25%);
}

#body #sec1 #divider2a {
    width: 50%;
    float: left;
    text-align: center;
}

#body #sec1 #divider2a {
    font-family: hplight;
    font-size: 18pt;
}

#body #sec1 #divider2 #bold {
    font-family: hpbold;
}

#body #sec1 #clear {
    clear: both;
}

#body #sec2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body td {
    padding: 20px 5px 20px 5px;
    font-size: 14pt;
    font-family: hpregular;
    text-align: center;
    transition: font-size 0.2s;
    min-width: 600px;
}

#body td:hover {
    padding: 20px 5px 20px 5px;
    font-size: 18pt;
    font-family: hpregular;
    text-align: center;
}

#body tr:nth-child(even) {
    background-color: #3eb8eb;
}

#body tr:nth-child(odd) {
    background-color: #009fe3;
}

#end {
    background-color: #009fe3;
    padding: 30px;
    font-family: hp, Arial, Helvetica, sans-serif;
}

.modal-newsletter {
    color: #999;
    width: 625px;
    font-size: 15px;
    margin: 0px auto;
}

body {
    font-family: hp, Arial, Helvetica, sans-serif;
}

.modal-newsletter .modal-content {
    padding: 30px;
    border-radius: 0;
    border: none;
}

.modal-newsletter .modal-header {
    border-bottom: none;
    position: relative;
    border-radius: 0;
}

.modal-newsletter h4 {
    color: #000;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.modal-newsletter .close {
    position: absolute;
    top: -15px;
    right: -15px;
    text-shadow: none;
    opacity: 0.3;
    font-size: 24px;
}

.modal-newsletter .close:hover {
    opacity: 0.8;
}

.modal-newsletter .icon-box {
    color: #7265ea;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.modal-newsletter .icon-box i {
    font-size: 110px;
}

.modal-newsletter .form-control,
.modal-newsletter .btn {
    min-height: 46px;
    border-radius: 0;
}

.modal-newsletter .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
}

.modal-newsletter .form-control:focus {
    border-color: #f95858;
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
}

.modal-newsletter .btn {
    color: #fff;
    background: #f95858;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    margin-left: 6px !important;
    border: none;
}

.modal-newsletter .btn:hover,
.modal-newsletter .btn:focus {
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
    background: #f72222;
    outline: none;
}

.modal-newsletter .input-group {
    margin-top: 30px;
}

.hint-text {
    margin: 100px auto;
    text-align: center;
}

#myModal {
    background-color: rgb(200, 255, 211);
    padding: 30px 0px;
}

.large {
    font-size: 36pt;
    text-align: center;
}

#coffee {
    width: 75%;
}

.thick {
    font-family: hpbold, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#wifi {
    width: 75%;
}

#room {
    width: 90%;
}

#front {
    width: 200px;
    height: 100px;
    object-position: 0 70%;
    object-fit: cover;
}

#park {
    width: 75%;
}

#roomservice {
    width: 75%;
}

p {
    font-size: 18pt;
    text-align: center;
    font-family: hplight, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
    #body {
        width: unset;
    }
    #body {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
    }
    #body td {
        min-width: unset;
    }
    #body #sec1 #divider1 {
        width: unset;
        float: none;
    }
    #body #sec1 #divider1a {
        width: unset;
        float: none;
        text-align: center;
    }
    #body #sec1 #divider2 {
        width: unset;
        float: none;
    }
    #body #sec1 #divider2a {
        width: unset;
        float: none;
        text-align: center;
    }
    #body #sec1 #divider2 {
        font-family: hplight;
        font-size: 18pt;
    }
    #body #sec1 #divider1 {
        all: unset;
    }
}